<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- external font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/59c032d6c4.js" crossorigin="anonymous"></script>
  <!-- favicon -->
  <link rel="shortcut icon" type="image/jpg" href="img/favi.png?v=1"/>
  <title>AccuDriver Dashboard</title>
</head>
<body>

  <nav>
    <img src="img/nav.png">
    <div class="nav-div">
      <p>Welcome <strong><%= user.userName %></strong>!</p>
      <a href="/logout">Logout</a>
    </div>
  </nav>

  <main class="dashboard-main">

        <!-- Today's Date -->
        <% var newDate = new Date().toString().slice(0, 10)%>

        <!-- This Week -->
        <% var todaysDate = new Date()%>
        <% var weekStartPoint = new Date(todaysDate.setDate(todaysDate.getDate() - 7)) %>
     
        
      <ul class="driver-grid">

        <!-- Each Driver in DB -->
        <% for(var i=0; i<drivers.length; i++) {%>

          <li>
            <div class="profile-header">
              <div></div>
              <div class="bold"><%= drivers[i].name %></div>
              <a href="/driver/<%= drivers[i]._id%>"><i class="fa-solid fa-x"></i></a>
            </div>
            <img class="driver-img" src="<%= drivers[i].image%>">
            <div class="profile-headings"><%= newDate %></div>

            <!-- Empty Arrays -->
            <%var startArr = []%>
            <%var stopArr = []%>
              

<!-- Empty Objs for Starts/Stops  -->
<% var startsObj= {}%>
<% var stopsObj = {}%>




            <div class="times">      
              <!-- All Starts-->        
              <div class="starts">
                <div>Start Stamps</div>

                <!-- Loop thru All Starts -->
                <% for(var j=0; j<start.length; j++) {%>
                  <% var startDate = start[j].time.toString().slice(0, 10) %>                  
                  

<% var startsWeek = start[j].time%>
                  
<%var startsDuringWeek = [] %>

<!-- filter out the "week" -->
<% if (drivers[i]._id == start[j].id && startsWeek >= weekStartPoint) {%>

    <%startsDuringWeek.push(startsWeek)%>

<!-- filter multiple time stamps within the day  -->

<% var uniqStrtDate = start[j].time.getDate() %>
<%startsDuringWeek.forEach((c) =>  {%>
  <%!startsObj[uniqStrtDate] ? startsObj[uniqStrtDate] = start[j].time : '' %>
<%})%>

<%}%>


                <!-- Driver Start Match CONDITIONAL-->
                  <% if (drivers[i]._id == start[j].id && startDate == newDate) {%>
                    <% var startTime = start[j].time %>
                    <% var startHour = start[j].time.toString().slice(16, 18) %>
                    <% var startMin = start[j].time.toString().slice(19, 21) %>

                    <!-- Push into Arr -->
                    <% startArr.push(startTime) %>
                   
                    <!-- Date Format Change-->
                    <% if(+startHour < 12) {%>
                      <% var startStamp = `${startHour}:${startMin} AM`%>
                    <%}else if(startHour == 12){%>
                      <% var startStamp = `${startHour}:${startMin} PM`%>
                    <%}else {%>
                        <% var startStamp = `${startHour - 12}:${startMin} PM`%>
                    <%} %>

                    <div><%= startStamp %></div>
                  
                  <%} %>
                <% } %>
              </div>
      
              <!-- All Stops-->
              <div class="stops">
                <div>Stop Stamps</div>
                
                <!-- Loop thru ALL Stops -->
                <% for(var q=0; q<stop.length; q++) {%>
                  <% var stopDate = stop[q].time.toString().slice(0, 10) %>


<% var stopsWeek = stop[q].time%>

<%var stopsDuringWeek  = []%>

<!-- filter out the "week" -->
<% if (drivers[i]._id == stop[q].id && stopsWeek >= weekStartPoint) {%>

    <%stopsDuringWeek.push(stopsWeek)%>
  
  <!-- filter multiple time stamps within the day  -->
  
<% var uniqStopDate = stop[q].time.getDate() %>
<%stopsDuringWeek.reverse().forEach((w) =>  {%>
  <%!stopsObj[uniqStopDate] ? stopsObj[uniqStopDate] = stop[q].time : '' %>
<%})%>
  
<%}%>
  

                <!-- Driver Stop Match CONDITIONAL-->
                  <% if (drivers[i]._id == stop[q].id && stopDate == newDate) {%>
                    <% var stopTime = stop[q].time %>
                    <% var stopHour = stop[q].time.toString().slice(16, 18) %>
                    <% var stopMin = stop[q].time.toString().slice(19, 21) %>

                    <!-- Push into Arr -->
                    <% stopArr.push(stop[q].time ) %>                   

                    <!-- Date Format Change -->
                    <% if(+stopHour < 12) {%>
                      <% var stopStamp = `${stopHour}:${stopMin} AM`%>
                    <%}else if(stopHour == 12){%>
                      <% var stopStamp = `${stopHour}:${stopMin} PM`%>
                    <%}else {%>
                        <% var stopStamp = `${stopHour - 12}:${stopMin} PM`%>
                    <%} %>

                    <div><%= stopStamp %></div>

                  <%} %>
                <% } %>
              </div>

            </div>

            <div class="driver-btns">
              <form action="/driver/start/<%= drivers[i]._id%>" method="POST">
                <button id="start-btn">start</button>
              </form>
              <form action="/driver/stop/<%= drivers[i]._id%>" method="POST">
                <button id="stop-btn">stop</button>
              </form>
            </div>

            <!-- Drive Time Left -->
            <!-- Start & Stop Array Length Equal CONDITIONAL-->
            <% var response = 0 %>
            <% if(stopArr.length == startArr.length){ %>
              <% let elapsedMili = 0 %>
              <% for(let n=0; n<stopArr.length; n++){ %>
                <!-- Converstion from Milisecs to Hr : Min Elapsed time -->
                <% elapsedMili += (stopArr[n] - startArr[n]) %>
                <% let elapsedMin = Math.floor(elapsedMili/(1000 * 60)) % 60 %>
                <% let elapsedHr = Math.floor(elapsedMili/(1000 * 60 * 60)) %>
                <% response = `${elapsedHr}hrs ${elapsedMin}mins / 11hrs `%>
              <%}%>
            <%}else{%>
                <% response = "**Driver is still driving**" %>
            <%} %>

            <div class="profile-headings">Total Drive Time Today:</div>  
            <div><%= response %></div>

            
            
      

<%var endPt = new Date().getDate()%>
<%var strtPt = endPt - 7%>

<%var totalWeek = 0%>

<!-- subtract the start obj and stop obj to get a total Time -->
<%for(let h=strtPt; h <= endPt; h++){%>
  <%stopsObj[h]%>
  <%if(!isNaN(stopsObj[h]-startsObj[h])){%>
    <%totalWeek += stopsObj[h]-startsObj[h]%>
  <%}%>
<%}%>

<!-- time Converstion -->
<% let totalWeekMin = Math.floor(totalWeek/(1000 * 60)) % 60 %>
<% let totalWeekHr = Math.floor(totalWeek/(1000 * 60 * 60)) %>
<%  console.log(`${totalWeekHr} hr : ${totalWeekMin} min`)%>
 


<div class="profile-headings">Total Hours This Week:</div>
<div><%= `${totalWeekHr} hr : ${totalWeekMin} min / 40 hrs`%></div>



 



          </li>
        <% } %>

        <!-- create driver form -->
        <li>
          <div class="bold">Add a Driver</div>
          <img class="driver-img" src="img/blank.png">
          <form action="/driver/createDriver" enctype="multipart/form-data" method="POST" class="add-driver">
            <div class="upload-file">
             <input type="file" id="imageUpload" name="file">
            </div>

            <div>
              <label for="name">Enter name</label>
               <input type="text" id="name" name="name" class="margin-3">
            </div>
            <button type="submit" value="Upload" class="margin-3">Submit</button>
          </form>
        </li>

      </ul>
  </main> 
  
  <footer>
  
  </footer>

</body>
</html>
