<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- external font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  <!-- favicon -->
  <link rel="shortcut icon" type="image/jpg" href="img/favi.png?v=1"/>
  <title>AccuDriver Dashboard</title>
</head>
<body>
  <nav>
    <img src="img/nav.png">
    <div class="nav-div">
      <p>Welcome <strong><%= user.userName %></strong>!</p>
      <a href="/logout">Logout</a>
    </div>
  </nav>
  <main class="dashboard-main">
    
        <% var newDate = new Date().toString().slice(0, 10)%>
        
  
      <ul class="driver-grid">

        <!-- Each Driver in DB -->
        <% for(var i=0; i<drivers.length; i++) {%>
          <li>
            <div class="bold"><%= drivers[i].name %></div>
            <a href="/driver/<%= drivers[i]._id%>">
              <img class="driver-img" src="<%= drivers[i].image%>">
            </a>

            <!-- Empty Arrays -->
            <%var startArr = []%>
            <%var stopArr = []%>
           




            <!-- All Start and Stops -->
            <div class="times">              
              <div class="starts">
                <div><%= newDate %></div>

                <!-- Scan thru all starts -->
                <% for(var j=0; j<start.length; j++) {%>
                  <% var startDate = start[j].time.toString().slice(0, 10) %>

                <!-- Driver match to starts CONDITIONAL-->
                  <% if (drivers[i]._id == start[j].id && startDate == newDate) {%>
                    <% var startTime = start[j].time %>
                    <% var startHour = start[j].time.toString().slice(16, 18) %>
                    <% var startMin = start[j].time.toString().slice(19, 21) %>

                    <!-- Push into Arr -->
                    <% startArr.push(startTime) %>
                   


                <!-- Date Format Change-->
                      <% if(startHour > 12) {%>
                        <% var startStamp = `${startHour - 12}:${startMin} PM`%>
                      <%}else {%>
                        <% var startStamp = `${startHour}:${startMin} AM`%>
                      <%} %>

                    <div><%= startStamp %></div>
                  
                  <%} %>
                <% } %>
              </div>
      
            
              <div class="stops">
                <div><%= newDate %></div>
                
                <!-- Scan thru all the stops -->
                <% for(var q=0; q<stop.length; q++) {%>
                  <% var stopDate = stop[q].time.toString().slice(0, 10) %>

                <!-- Driver match to stops CONDITIONAL-->
                  <% if (drivers[i]._id == stop[q].id && stopDate == newDate) {%>

                    <% var stopTime = stop[q].time %>
                    <% var stopHour = stop[q].time.toString().slice(16, 18) %>
                    <% var stopMin = stop[q].time.toString().slice(19, 21) %>

                    <!-- Push into Arr -->
                    <% stopArr.push(stop[q].time ) %>
                    


                <!-- Date Format Change -->
                      <% if(stopHour > 12) {%>
                        <% var stopStamp = `${stopHour - 12}:${stopMin} PM`%>
                      <%}else {%>
                        <% var stopStamp = `${stopHour}:${stopMin} AM`%>
                      <%} %>

                    <div><%= stopStamp %></div>
                  <%} %>
                <% } %>
              </div>

            </div>

            <div class="driver-btns">
              <form action="/driver/start/<%= drivers[i]._id%>" method="POST">
                <button>start</button>
              </form>
              <form action="/driver/stop/<%= drivers[i]._id%>" method="POST">
                <button>stop</button>
              </form>
            </div>

            <!-- Subtraction -- Start and Stop Array are Equal CONDITIONAL-->
            <% var response = 0 %>
            <% if(stopArr.length == startArr.length){ %>
              <% let elapsedMili = 0 %>
              <% for(let n=0; n<stopArr.length; n++){ %>

                <!-- Converstion from Milisecs to Hr : Min Elapsed time -->
                <% elapsedMili += (stopArr[n] - startArr[n]) %>
                
                <% let elapsedMin = Math.floor(elapsedMili/(1000 * 60)) % 60 %>
                <% let elapsedHr = Math.floor(elapsedMili/(1000 * 60 * 60)) %>

                <% response = `${elapsedHr}hrs ${elapsedMin}mins / 11hrs `%>

              <%}%>
            <%}else{%>
                <% response = "Driver is still driving" %>
            <%} %>

            <div><%= response %></div>
            <% console.log(response) %>

          </li>
        <% } %>

        <!-- create driver form -->
        <li>
          <div class="bold">Add a Driver</div>
          <img class="driver-img" src="img/blank.png">
          <form action="/driver/createDriver" enctype="multipart/form-data" method="POST" class="add-driver">
            <div class="upload-file">
             <input type="file" id="imageUpload" name="file">
            </div>

            <div>
              <label for="name">Enter name</label>
               <input type="text" id="name" name="name" class="margin-3">
            </div>
            <button type="submit" value="Upload" class="margin-3">Submit</button>
          </form>
        </li>

      </ul>
  </main> 
  <footer>
  
  </footer>

</body>
</html>
